<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.RoleDAO">

    <select id="queryRoleByUsername" resultType="Role" parameterType="String">
        SELECT
            role_id id,
            role_name roleName,
            role_tag roleTag
        FROM
            e_role
        WHERE
            role_id in (
                SELECT
                    role_id
                FROM
                    e_admin_role
                WHERE
                    admin_id = (
                        SELECT
                            id
                        FROM
                            e_admin
                        WHERE
                            username = #{username}
                    )
            )
    </select>

</mapper>